@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #38BDF8;
  --color-background: #F9FAFB;
  --color-card: #E5E7EB;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #111827;
    font-family: var(--font-sans);
    margin: 0;
    min-height: 100vh;
  }
}
